<link rel="stylesheet" href="/stylesheets/finance.css">
<div class="FinancePage clearfix" full-height>
    <div class="siderbar col-xs-3">
        <div class="title">Quick Seach: </div>
        <form class="sidebarForm form-horizontal clearfix" method="GET" action="/finance/search">
            <div class="form-group-sm clearfix">
                <label for="id" class="control-label col-xs-2">ID: </label>
                <div class="col-xs-10">
                    <div class="input-group">
                        <div class="input-group-addon">#</div>
                        <input type="text" class="form-control" name="id" placeholder="Record ID" />
                    </div>
                </div>
            </div>
            
            <div class="form-group-sm clearfix">
                <label for="StartTime" class="control-label col-xs-2">From: </label>
                <div class="col-xs-10">
                    <input type="date" class="form-control" name="StartTime" />
                </div>
            </div>

            <div class="form-group-sm clearfix">
                <label for="EndTime" class="control-label col-xs-2">To: </label>
                <div class="col-xs-10">
                    <input type="date" class="form-control" name="EndTime" />
                </div>
            </div>

            <div class="form-group-sm clearfix">
                <label for="type" class="control-label col-xs-2">Type: </label>
                <div class="col-xs-10">
                    <select name="type" class="form-control">
                        <option value="" disabled selected>Select an option</option>
                        <option value="sales">Sales</option>
                        <option value="OtherIncome">Other Type of Income</option>
                        <option value="salary">Salary</option>
                        <option value="debt">Debt</option>
                        <option value="expense">Expense</option>
                        <option value="promotion">Promotion</option>
                        <option value="other">Other</option>
                    </select>
                </div>   
            </div>

            <div class="form-group-sm clearfix">
                <label for="StartAmount" class="control-label col-xs-2">From: </label>
                <div class="col-xs-10">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="number" class="form-control" name="StartAmount" placeholder="0" />
                    </div>
                </div>
            </div>

            <div class="form-group-sm clearfix">
                <label for="EndAmount" class="control-label col-xs-2">To: </label>
                <div class="col-xs-10">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="number" class="form-control" name="EndAmount" placeholder="0" />
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-default btn-sm" value="filter">Submit</button>
        </form>
    </div>

    <div class="content col-xs-9">
        <h1>Transaction Records:</h1>

        <h2>Manipulation</h2>
        <div class="subtitle">
                Create Records From <b>the below button</b>
        </div>
        <div class="card">
            <button type="button" class="btn btn-primary" name="create" data-toggle="modal" data-target="#add-record-modal">
                Create Record
            </button>
        </div>

        <h2>Records</h2>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <td>#</td>
                    <td>ID</td>
                    <td>Type</td>
                    <td>Create At</td>
                    <td>Amount</td>
                    <td>Description</td>
                    <td>Manipulate</td>
                </thead>

                <tbody>
                    <% var item = new Array;
                    var num;%>
                    <% financePage.records.forEach( function(rec) { %>
                    <% item.push(rec); %>
                    <tr>
                        <td><%= item.indexOf(rec) %></td>
                        <td><%= rec.id %></td>
                        <td><%= rec.type %></td>
                        <td><%= rec.ctime %></td>
                        <td><%= rec.amount %></td>
                        <td><%= rec.description %></td>
                        <td>
                            <!--<a href="">Modify</a>-->
                            <a type="button"
                                class="modifyRec"
                                data-rec="<%= JSON.stringify(rec) %>"
                                data-toggle="modal" data-target="#modify-record-modal">
                                Modify
                            </a>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>

    <%- include('modal-layout', {
        viewId: 'add-record',
        viewName: 'Add Record',
        body: include(`finance-forms/add-record`)
    }); %>

    <%- include('modal-layout', {
        viewId: 'modify-record',
        viewName: 'Modify Record',
        body: include(`finance-forms/modify-record`)
    }); %>

</div>