<link rel="stylesheet" href="/stylesheets/finance.css">
<div class="FinancePage clearfix default-list-view" full-height>
    <div class="siderbar col-xs-3">
        <div class="title">Quick Seach: </div>
        <form class="sidebarForm form-horizontal clearfix" method="GET" action="/finance/search">
            <div class="form-group-sm clearfix">
                <label for="id" class="control-label col-xs-2">ID: </label>
                <div class="col-xs-10">
                    <div class="input-group">
                        <div class="input-group-addon">#</div>
                        <input type="text" class="form-control" name="id" placeholder="Record ID" />
                    </div>
                </div>
            </div>
            
            <div class="form-group-sm clearfix">
                <label for="StartTime" class="control-label col-xs-2">From: </label>
                <div class="col-xs-10">
                    <input type="date" class="form-control" name="StartTime" />
                </div>
            </div>

            <div class="form-group-sm clearfix">
                <label for="EndTime" class="control-label col-xs-2">To: </label>
                <div class="col-xs-10">
                    <input type="date" class="form-control" name="EndTime" />
                </div>
            </div>

            <div class="form-group-sm clearfix">
                <label for="type" class="control-label col-xs-2">Type: </label>
                <div class="col-xs-10">
                    <select name="type" class="form-control">
                        <option value="" disabled selected>Select an option</option>
                        <option value="sales">Sales</option>
                        <option value="OtherIncome">Other Type of Income</option>
                        <option value="salary">Salary</option>
                        <option value="debt">Debt</option>
                        <option value="expense">Expense</option>
                        <option value="promotion">Promotion</option>
                        <option value="other">Other</option>
                    </select>
                </div>   
            </div>

            <div class="form-group-sm clearfix">
                <label for="StartAmount" class="control-label col-xs-2">From: </label>
                <div class="col-xs-10">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="number" class="form-control" name="StartAmount" value="0" />
                    </div>
                </div>
            </div>

            <div class="form-group-sm clearfix">
                <label for="EndAmount" class="control-label col-xs-2">To: </label>
                <div class="col-xs-10">
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="number" class="form-control" name="EndAmount" value="99999999999999" />
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-default btn-sm" value="filter">Submit</button>
        </form>
    </div>

    <div class="content col-xs-9">
        <h1>Transaction Records:</h1>

        <h2>Manipulation</h2>
        <div class="subtitle">
                Create Records From <b>the below button</b>
        </div>
        <div class="card">
            <button type="button" class="btn btn-primary" name="create" data-toggle="modal" data-target="#add-record-modal">
                Create Record
            </button>
        </div>

        <h2>Records</h2>
        <div class="table-responsive">
            <table id="fin-table" class="table table-hover" data-toggle="table"
            data-toolbar="#toolbar"
            data-show-toggle="true"
            data-show-columns="true"
            data-show-export="true"
            data-minimum-count-columns="2"
            data-show-pagination-switch="true"
            data-pagination="true"
            data-id-field="id"
            data-page-list="[10, 25, 50, 100, ALL]"
            data-show-footer="false"
            data-response-handler="responseHandler">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Type</th>
                        <th>Create At</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Manipulate</th>
                    </tr>
                </thead>

                <tbody>
                    <% if (financePage.records[0]) { %>
                    <% financePage.records.forEach( function(rec) { %>
                    <tr data-key="rec-<%= rec.id %>">
                        <td><%= rec.id %></td>
                        <td><%= rec.type %></td>
                        <td><%= rec.ctime %></td>
                        <td><%="$ " + rec.amount %></td>
                        <td><%= rec.description %></td>
                        <td>
                            <a type="button"
                                class="modifyRec"
                                data-rec="<%= JSON.stringify(rec) %>"
                                data-toggle="modal" data-target="#modify-record-modal">
                                Modify
                            </a>
                        </td>
                    </tr>
                    <% });} else { %>
                    <tr>
                        <td><%= financePage.records.id %></td>
                        <td><%= financePage.records.type %></td>
                        <td><%= financePage.records.ctime %></td>
                        <td><%="$ " + financePage.records.amount %></td>
                        <td><%= financePage.records.description %></td>
                        <td>
                            <a type="button"
                                class="modifyRec"
                                data-rec="<%= JSON.stringify(financePage.records) %>"
                                data-toggle="modal" data-target="#modify-record-modal">
                                Modify
                            </a>
                        </td>
                    </tr>
                    <% } // financePage.records[financePage.records.length-1].id+1 %>
                </tbody>
            </table>
        </div>
    </div>

    <%- include('modal-layout', {
        viewId: 'add-record',
        viewName: 'Add Record',
        body: include(`finance-forms/add-record`, {id: 0 })
    }); %>

    <%- include('modal-layout', {
        viewId: 'modify-record',
        viewName: 'Modify Record',
        body: include(`finance-forms/modify-record`)
    }); %>

</div>