<link rel="stylesheet" href="/stylesheets/order.css">
<div class="OrderPage clearfix" full-height>
    <div class="sidebar col-xs-3">

        <div class="form-group login-form">
            <div class="input-group">
                <div class="input-group-addon">
                    Order #
                </div>
                <input class="form-control getById" placeholder="Order ID" value="<%= _query.filter ? orderPage.order.id : '' %>">
            </div>
        </div>

        <div class="title">Objectives</div>
        <% let oid = orderPage.order ? orderPage.order.id : 0; %>
        <% orderPage.objectives.forEach(function(obj) { %>
            <div class="objective" style="<%= oid === obj.id ? 'background: #f1f1f1;': '' %>">
                <a href="/order/view/<%= obj.id %>">
                    <span class="glyphicon glyphicon-tasks"></span>
                    <% if (oid === obj.id) { %>
                        <b>Order #<%= obj.id %></b>
                    <% } else { %>
                        Order #<%= obj.id %>
                    <% } %>
                </a>
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-time"></span>
                        Create at: <%= tsToString(obj.ctime) %>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-stats"></span>
                        Status: <%= addSpace(obj.statusName || 'Unknown') %>
                    </li>
                </ul>
            </div>
        <% }) %>
    </div>

    
    <div class="content col-xs-9">
        <% if (oid) { %>
            <h1>Order #<%= orderPage.order.id %></h1>

            <h2>Procedure & Actions</h2>
            <div class="card">
                <h5>Current Status</h5>
                <div class="panel panel-default" style="padding: 10px">
                    <% for (let i = 1; orderPage.OrderStatus[i]; ++i) { %>
                        <%
                        let color = i <= orderPage.order.status ? 'text-success' : 'text-muted';
                        let statusName = `<span class="${color}">` + addSpace(orderPage.OrderStatus[i]) + '</span>';
                        %>
                        <%- i === orderPage.order.status ? `<b>${statusName}</b>` : statusName %> → 
                    <% } %>
                </div>

                <h5>Action(s) for Current Order</h5>

                <% orderPage.order.availableActions.forEach(function(action) { %>
                    <div>
                        <button 
                            class="btn btn-success"
                            data-toggle="modal"
                            data-target="#<%= actionTypeToId(action.id) + '-modal' %>"
                            <%= action.disabled ? 'disabled' : '' %> >
                            <%= action.viewName %>
                        </button>
                        <span class="text-danger"><%= action.disabled ? action.disabled : '' %></span>
                    </div>
                <% }) %>
            </div>

            <h2>Products</h2>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <td>#</td>
                        <td>Serial Number</td>
                        <td>Status</td>
                        <td>Detail</td>
                    </thead>

                    <tbody>
                        <% orderPage.order.products.forEach((product) => { %>
                            <tr>
                                <td><%= product.id %></td>
                                <td><%= product.serialNumber %></td>
                                <td><%= orderPage.ProductStatus[product.status] %></td>
                                <td>
                                    <a href="/product/view/<%= product.id %>">Detail</a>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>

            <h2>Term</h2>
            <%
            let daysLimit = 7;
            let ctime = orderPage.order.ctime;
            console.log('ctime', orderPage.order);
            let daysAgo = ctime + (daysLimit * 24 * 3600 * 1000);
            let now = Date.now();
            let timePercent = (((now - ctime) / (daysAgo - ctime)) * 100).toFixed(2);
            let daysLeft = (daysLimit * (1 - timePercent / 100)).toFixed(2);
            %>
            <div><%= timePercent %>% time spent, <%= daysLeft %> days left</div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="<%= timePercent %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= timePercent %>%;">
                    <span class="sr-only"><%= timePercent %>% Complete</span>
                </div>
            </div>
        <% } else { %>
            <h1 style="color: #777; line-height: 100%; text-align: center">
                <span class="glyphicon glyphicon-tasks"></span>
            </h1>
            <h2 style="color: #777; line-height: 100%; text-align: center">Select one order...</h2>
        <% } %>
    </div>
    

    <%-

    oid && orderPage.order.availableActions.map(a => {
        try {
            return include('modal-layout', {
                viewId: actionTypeToId(a.id),
                viewName: a.viewName,
                body: include(`order-forms/${actionTypeToId(a.id)}`, { id: orderPage.order.id })
            });
        }
        catch (e) {
            console.error('order.ejs: error:', e);
            return '';
        }
    }).join('');

    %>
</div>