<%
    const FilterBox = importComp(include, 'filter-box');
    const View = 'objective/view';
    const Sidebar = importComp(include, 'objective/sidebar');
    const SItem = importComp(include, 'objective/sidebar-item');
    const Content = importComp(include, 'objective/content');
    const NullHint = importComp(include, 'objective/null-hint');
    const ActionModals = importComp(include, 'action-modals');
    
    const OrderContent = importComp(include, 'order-content');
%>

<link rel="stylesheet" href="/stylesheets/order.css">
<div class="OrderPage clearfix" full-height>
    <%- Sidebar() %>
        <%- FilterBox({ tip: 'Order #', value: _query.filter ? orderPage.order.id : '' }) %>

        <div class="title">Objectives</div>
        <% let oid = orderPage.order ? orderPage.order.id : 0; %>
        
        <% orderPage.objectives.forEach(function(obj) { %>
            <%- SItem({
                caption: 'Order #' + obj.id,
                selected: obj.id === oid,
                link: '/order/view/' + obj.id }) %>
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-time"></span>
                        Create at: <%= tsToString(obj.ctime) %>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-stats"></span>
                        Status: <%= addSpace(obj.statusName || 'Unknown') %>
                    </li>
                </ul>
            <%- SItem.end() %>
        <% }) %>
    <%- Sidebar.end() %>

    
    <%- Content() %>
        <% if (oid) { %>
            <%- OrderContent({order: orderPage.order, OrderStatus: orderPage.OrderStatus}) %>
        <% } else { %>
            <%- NullHint({ tip: 'Select one order...' }) %>
        <% } %>
    <%- Content.end() %>
    
    <% if (oid) { %>
        <%- ActionModals({
            handleId: orderPage.order.id,
            actions: orderPage.order.availableActions,
            formPath: 'order-forms' }) %>
    <% } %>
</div>