<%
    function addSpace(str) {
        return str.replace(/([A-Z])/g, ' $1').trim();
    }

    function actionTypeToId(type) {
        return type.toLowerCase().replace(/_/g, '-');
    }
%>
<link rel="stylesheet" href="/stylesheets/order.css">
<div class="OrderPage clearfix" full-height>
    <div class="sidebar col-xs-3">

        <div class="form-group login-form">
            <div class="input-group">
                <div class="input-group-addon">
                    Order #
                </div>
                <input class="form-control getById" placeholder="Order ID" value="<%= _query.filter ? orderPage.order.id : '' %>">
            </div>
        </div>

        <div class="title">Objectives</div>
        <% orderPage.objectives.forEach(function(obj) { %>
            <div class="objective" style="<%= orderPage.order.id === obj.id ? 'background: #f1f1f1;': '' %>">
                <a href="/order/view/<%= obj.id %>">
                    <span class="glyphicon glyphicon-tasks"></span>
                    <% if (orderPage.order.id === obj.id) { %>
                        <b>Order #<%= obj.id %></b>
                    <% } else { %>
                        Order #<%= obj.id %>
                    <% } %>
                </a>
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-time"></span>
                        Create at: <%= obj.ctime %>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-stats"></span>
                        Status: <%= addSpace(obj.statusName) %>
                    </li>
                </ul>
            </div>
        <% }) %>
    </div>

    <div class="content col-xs-9">
        <h1>Order #<%= orderPage.order.id %>: Summaries</h1>

        <h2>Procedure</h2>
        <div class="card">
            <div class="subtitle">
                Current Status: <b><%= addSpace(orderPage.OrderStatus[orderPage.order.status]) %></b>
            </div>

            <h5>Action(s) for Current Order</h5>

            <% orderPage.order.availableActions.forEach(function(action) { %>
                <button 
                    class="btn btn-default"
                    data-toggle="modal"
                    data-target="#<%= actionTypeToId(action.id) + '-modal' %>"
                    <%= action.disabled ? 'disabled' : '' %> >
                    <%= action.viewName %>
                </button>
            <% }) %>
        </div>

        <h2>Products</h2>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <td>#</td>
                    <td>Serial Number</td>
                    <td>Status</td>
                    <td>Detail</td>
                </thead>

                <tbody>
                    <% orderPage.order.products.forEach((product) => { %>
                        <tr>
                            <td><%= product.id %></td>
                            <td><%= product.serial_number %></td>
                            <td><%= product.status %></td>
                            <td>
                                <a href="/product/view/<%= product.id %>">Detail</a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>

        <h2>Term</h2>

        <div>22% time spent in passed steps, 12 days 4 hours left</div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 22%;">
                <span class="sr-only">22% Complete</span>
            </div>
        </div>
    </div>


    <%-

    orderPage.order.availableActions.map(a => {
        try {
            return include('modal-layout', {
                viewId: actionTypeToId(a.id),
                viewName: a.viewName,
                body: include(`order-forms/${actionTypeToId(a.id)}`, { id: orderPage.order.id })
            });
        }
        catch (e) {
            console.error('order.ejs: error:', e);
            return '';
        }
    }).join('');

    %>
</div>