<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet"
            href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">
        <%
            function addSpace(str) {
                return str.replace(/([A-Z])/g, ' $1').trim();
            }
        %>
        <style>
            * {
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
            }
            
            .nav-main {
                /*background: #478900;*/
                color: #666;
                background: #f1f1f1;
                /*padding: 10px 0;*/
                line-height: 1.45;
                /*font-family: "Comic Sans MS";*/
            }

            /*.nav-main > :nth-child(1) {
                padding-left: 0px;
            }*/

            html {
                height: 100vh;
            }

            body {
                margin: 0;
                padding: 0;
                min-height: 100vh;
            }

            ul {
                padding-left: 10px;
            }

            li {
                list-style-type: none;
                /*margin-left: 4px;*/
            }

            * {
                border-radius: 0 !important;
            }

            a {
                color: #2289ab
            }

            .n_nav-item {
                float: left;
                padding: 10px 15px;
            }

            .n_nav-item:hover {
                background: rgba(0,0,0,0.3);
                color: #f1f1f1;
            }

            .login-form > * {
                margin-top: 5px;
            }

            h1,h2,h3,h4,h5,h6 {
                color: #555;
            }

            .title {
                margin-top: 15px;
                color: #555;
                font-weight: bolder;
                font-size: 1.2em;
                clear: left;
            }

            .subtitle {
                padding: 5px 0;
                color: #575
            }

            .content {
                /*background: #fefefe;*/
                border-left: #f1f1f1 solid 2px;
            }

            .sidebar {
                /*background: #fbfcfb;*/
                padding: 0;
            }

            .sidebar > * {
                padding: 0 15px;
            }

            .objective {
                padding-top: 5px;
                padding-bottom: 1px;
            }

            .card {
                padding-left: 5px;
            }

            .story > * {
                margin-top: 6px;
            }

            .story > .name {
                font-size: 1.4em;
                font-weight: bold;
            }


            .themes {
                float: left;
                width: 33.3333%
            }

            .pops {
                text-align: center;
                float: left;
                width: 25%;
            }

            .pops > img {
                width: 80%;
            }
        </style>
    </head>

    <body>
        <div class="OrderPage">
            <div class="nav-main col-xs-12">
                <div class="n_nav-item" style="color: #999; font-weight: bolder">
                    EISMan
                </div>
                <div class="n_nav-item">
                    Global Status
                </div>
                <div class="n_nav-item">
                    Help
                </div>
                
                <div class="n_nav-item pull-right">
                    <span class="glyphicon glyphicon-user"></span>
                    Nick.Ng (Logistic Department)
                </div>
            </div>

            <div class="sidebar col-xs-3">

                <div class="form-group login-form">
                    <div class="input-group">
                        <input class="form-control" placeholder="Search objectives...">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </div>
                    </div>
                </div>

                <div class="title">Objectives</div>
                <% orderPage.objectives.forEach(function(obj) { %>
                    <div class="objective" style="<%= orderPage.currentObj === obj.id ? 'background: #f1f1f1;': '' %>">
                        <a href="/order/view/<%= obj.id %>">
                            <span class="glyphicon glyphicon-tasks"></span>
                            <% if (orderPage.currentObj === obj.id) { %>
                                <b>Order #<%= obj.id %></b>
                            <% } else { %>
                                Order #<%= obj.id %>
                            <% } %>
                        </a>
                        <ul>
                            <li>
                                <span class="glyphicon glyphicon-time"></span>
                                Create at: <%= obj.ctime %>
                            </li>
                            <li>
                                <span class="glyphicon glyphicon-stats"></span>
                                Status: <%= addSpace(obj.statusName) %>
                            </li>
                        </ul>
                    </div>
                <% }) %>
            </div>

            <div class="content col-xs-9">
                <h1>Order #<%= orderPage.order.id %>: Summaries</h1>

                <h2>Procedure</h2>
                <div class="card">
                    <div class="subtitle" style="color: #2289ab">
                        Current Status: <b><%= addSpace(orderPage.OrderStatus[orderPage.order.status]) %></b>
                    </div>

                    <% orderPage.order.availableActions.forEach(function(action) { %>
                        <button class="btn btn-default" data-toggle="modal" data-target="#<%= action.id + '-modal' %>">
                            <%= action.viewName %>
                        </button>
                    <% }) %>
                </div>

                <h2>Term</h2>

                <div>22% time spent in passed steps, 12 days 4 hours left</div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 22%;">
                        <span class="sr-only">22% Complete</span>
                    </div>
                </div>
            </div>

            <div class="modal fade" tabindex="-1" role="dialog" id="end-delivery-modal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">End Delivery</h4>
                </div>
                <div class="modal-body">
                    <%- include('order-forms/end-delivery', { id: orderPage.order.id }) %>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
        
        <script src="/client.js"></script>

    </body>
</html>