<%
    const Modal = importComp(include, 'modal-layout');
%>

<link rel="stylesheet" href="/stylesheets/personnel.css">
<div class="PersonnelPage clearfix" full-height>
    <div class="sidebar col-xs-3">
        <div class="form-group login-form">
            <div class="input-group">
                <div class="input-group-addon">
                    User ID #
                </div>
                <input class="form-control getById" placeholder="User ID" value="">
            </div>
        </div>

        <div class="clearfix">
            <button class="btn btn-default btn-sm"  data-toggle="modal" data-target="#add-user-modal">
                Add New Users
            </button>
        </div>  
        
        <div class="title">Objectives</div>
        <% var count = 0; %>
        <% personnelPage.users.forEach(function(obj) { %>
            <% count = count + 1; %>
            <% if (personnelPage.user.id) { %>
            <div class="objective" style="<%= personnelPage.user.id === obj.id ? 'background: #f1f1f1;': '' %>">
            <% } else { %>
            <div class="objective">
            <% } %>
                <a href="/personnel/view/<%= obj.id %>">
                    <span class="glyphicon glyphicon-tasks"></span>
                    <% if (personnelPage.user.id === obj.id) { %>
                        <b>User ID #<%= obj.id %></b>
                    <% } else { %>
                        User ID #<%= obj.id %>
                    <% } %>
                </a>
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-time"></span>
                        Create at: <%= tsToString(obj.ctime) %>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-stats"></span>
                        Dept: <%= addSpace(PersonnelRole[obj.role]) %>
                    </li>
                </ul>
            </div>
        <% }) %>
    </div>
    
    <div class="content col-xs-9">
        <% if (req.params.id) { %>
        <h1>User ID #<%= personnelPage.user.id %>: Summaries</h1>

        <h2>Procedure</h2>
        <div class="card">
            <div class="subtitle">
                User Name: <b><%= personnelPage.user.firstName + ' ' + personnelPage.user.lastName%></b>
            </div>

            <button class="btn btn-default" data-toggle="modal" data-target="#modify-user-modal">
                Modify
            </button>
            <button class="btn btn-default" data-toggle="modal" data-target="#delete-user-modal">
                Delete
            </button>
        </div>

        <h2>Products</h2>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <td>ID #</td>
                    <td>FirstName</td>
                    <td>LastName</td>
                    <td>Create Time</td>
                    <td>Dept</td>
                    <td>Salary</td>
                    <td>Tel</td>
                </thead>

                <tbody>
                    <tr>
                        <td><%= personnelPage.user.id %></td>
                        <td><%= personnelPage.user.firstName %></td>
                        <td><%= personnelPage.user.lastName %></td>
                        <td><%= personnelPage.user.ctime %></td>
                        <td><%= PersonnelRole[personnelPage.user.role] %></td>
                        <td><%= personnelPage.user.salary %></td>
                        <td><%= personnelPage.user.tel %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <% } else { %>
        <h1 style="color: #777; line-height: 100%; text-align: center; padding-top: 30%;">
            <span class="glyphicon glyphicon-tasks"></span>
        </h1>
        <h2 style="color: #777; line-height: 100%; text-align: center;">Select one order...</h2>
        <% } %>
    </div>

    <%- Modal({ viewId: 'modify-user', viewName: 'Modify User' }) %>
        <%- include(`personnel-forms/modify-user`, { id: personnelPage.user.id, person: personnelPage.user }) %>
    <%- Modal.end() %>

    <%- Modal({ viewId: 'delete-user', viewName: 'Delete User' }) %>
        <%- include(`personnel-forms/delete-user`, { id: personnelPage.user.id }) %>
    <%- Modal.end() %>

    <%- Modal({ viewId: 'add-user', viewName: 'Add User' }) %>
        <%- include(`personnel-forms/add-user`, { id: count + 1 }) %>
    <%- Modal.end() %>
</div>