<link rel="stylesheet" href="/stylesheets/product.css">
<div class="ProductPage clearfix" full-height>
        <div class="sidebar col-xs-3">

        <div class="form-group login-form">
            <div class="input-group">
                <div class="input-group-addon">
                    Product #
                </div>
                <input class="form-control getById" placeholder="Product ID" value="<%= _query.filter ? productPage.product.id : '' %>">
            </div>
        </div>

        <div class="title">Objectives</div>
        <% let pid = productPage.product ? productPage.product.id : 0; %>
        <% productPage.objectives.forEach(function(obj) { %>
            <div class="objective" style="<%= pid === obj.id ? 'background: #f1f1f1;': '' %>">
                <a href="/product/view/<%= obj.id %>">
                    <span class="glyphicon glyphicon-tasks"></span>
                    <% if (pid === obj.id) { %>
                        <b>Product #<%= obj.id %></b>
                    <% } else { %>
                        Product #<%= obj.id %>
                    <% } %>
                </a>
                <ul>
                    <li>
                        <span class="glyphicon glyphicon-time"></span>
                        Create at: <%= tsToString(obj.ctime) %>
                    </li>
                    <li>
                        <span class="glyphicon glyphicon-stats"></span>
                        Status: <%= addSpace(obj.statusName) %>
                    </li>
                </ul>
            </div>
        <% }) %>
    </div>

    <div class="content col-xs-9">
        <% if (pid) { %>
            <h1>Product #<%= productPage.product.id %>: Summaries</h1>

            <h2>Procedure</h2>
            <div class="card">
                <div class="subtitle">
                    Current Status: <b><%= addSpace(productPage.ProductStatus[productPage.product.status]) %></b>
                </div>

                <% productPage.product.availableActions.forEach(function(action) { %>
                    <button class="btn btn-success" data-toggle="modal" data-target="#<%= actionTypeToId(action.id) + '-modal' %>">
                        <%= action.viewName %>
                    </button>
                <% }) %>
            </div>

            <h2>Accessories</h2>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <td>#</td>
                        <td>Model Name</td>
                        <td>Quantity</td>
                        <td>Pirce</td>
                        <td>Detail</td>
                    </thead>

                    <tbody>
                        <% productPage.product.accessories.forEach((acc) => { %>
                            <tr>
                                <td><%= acc.id %></td>
                                <td><%= acc.modelName %></td>
                                <td><%= acc.quantity %></td>
                                <td><%= acc.purchasePrice %></td>
                                <td>
                                    <a href="/accessory/view/<%= acc.id %>">Detail</a>
                                </td>
                            </tr>
                        <% });%>
                    </tbody>
                </table>
            </div>

            <h2>Term (Order)</h2>

            <div>22% time spent in passed steps, 12 days 4 hours left</div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 22%;">
                    <span class="sr-only">22% Complete</span>
                </div>
            </div>
        <% } else { %>
            <h2 style="color: #777">Select one product...</div>
        <% } %>
    </div>

    <%-
    pid && productPage.product.availableActions.map(a => {
        try {
            return include('modal-layout', {
                viewId: actionTypeToId(a.id),
                viewName: a.viewName,
                body: include(`product-forms/${actionTypeToId(a.id)}`, { id: productPage.product.id })
            });
        }
        catch (e) {
            console.error('product.ejs: error:', e);
            return '';
        }
    }).join('');
    %>

</div>